
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' href="/css/index.css">
    <title>join | ChatApp</title>
    <body>
    <% include ./common/layout.ejs %>
<div class="centerd-form">
    <div class="centered-form__form" >
        <div class="inner_form">
            <form action="/chatjs" method="POST">
            <div class="form-field">
                <h3>Create a group</h3>
            </div>

            <!-- <div class="form-field">
                <label>Display name</label>
                <input type="text" name="name" autofocus />
            </div> -->
            <div class="form-field">
                <label>Room name</label>
                <input type="text" name='room'>
            </div>

            <div class="form-field">
                <button>Join</button>
            </div>
        </form>
        </div>
        <div class="inner_form">
             <form action='/joingroup' method="POST"> 
        <div class="form-field">
                <h3>join group</h3>
            </div>
        <div class="form-field">
        <label>Room name</label>
        <input type="text" name='room'>
    </div>

    <div class="form-field">
        <button>connect</button>
    </div>

        </form>
        </div>
       


    </div>
    </div>
    <div class="grps">
    <h4>your groups</h4>
    <ul  id="searchListUl">
    </ul>
    </div>
    <script>
    var data = <%- JSON.stringify(groups) %>
    data.map(function(item){
        if(item!="")
        $("#searchListUl").append(`<li data-filtertext="Apple"><a href="/api/getchat/${item}">${item}</a></li>`);
    })
   
    </script>
    </body>